In [1]:
import numpy as np
import pandas as pd

In [27]:
df=pd.read_excel('Clean files/1996/1996 COUNTRIES WITH 3.xlsx')
df=df.replace(r'^\s*$', np.nan, regex=True)
df

,country,election_year,party_a,party_b,party_c,voteshare_lower_a,voteshare_lower_b,voteshare_lower_c
0,Taiwan,1996,0.0,5.0,10.0,49.599998,29.799999,13.6
1,Taiwan,1996,5.0,7.0,5.0,49.599998,29.799999,13.6
2,Taiwan,1996,5.0,5.0,4.0,49.599998,29.799999,13.6
3,Taiwan,1996,4.0,7.0,1.0,49.599998,29.799999,13.6
4,Taiwan,1996,5.0,5.0,2.0,49.599998,29.799999,13.6
...,...,...,...,...,...,...,...,...
2729,United States of America,1996,7.0,6.0,8.0,48.099998,47.799999,0.6
2730,United States of America,1996,0.0,9.0,3.0,48.099998,47.799999,0.6
2731,United States of America,1996,6.0,4.0,NaN,48.099998,47.799999,0.6
2732,United States of America,1996,8.0,3.0,2.0,48.099998,47.799999,0.6
2733,United States of America,1996,NaN,NaN,NaN,48.099998,47.799999,0.6

In [22]:
li=df[df.columns[list(df.columns.str.contains("party"))]]
li

      party_a  party_b  party_c
0         0.0      5.0     10.0
1         5.0      7.0      5.0
2         5.0      5.0      4.0
3         4.0      7.0      1.0
4         5.0      5.0      2.0
...       ...      ...      ...
2729      7.0      6.0      8.0
2730      0.0      9.0      3.0
2731      6.0      4.0      NaN
2732      8.0      3.0      2.0
2733      NaN      NaN      NaN

[2734 rows x 3 columns]

In [23]:
## Weight(vp) DataFrame

weight_list=list(df.columns[list(df.columns.str.contains("voteshare"))])
weight_list_countries=['country']+weight_list
weight_df=df[weight_list_countries].groupby('country').mean(numeric_only=False)
## Voters(likeip) DataFrame
voter_list=list(df.columns[list(df.columns.str.contains("party"))])
voter_list_countries=['country']+voter_list
voter_df=df[voter_list_countries]

In [24]:
weight_df

,voteshare_lower_a,voteshare_lower_b,voteshare_lower_c
country,,,
Taiwan,49.599998,29.799999,13.6
United States of America,48.099998,47.799999,0.6

In [31]:
vp_cal=weight_df.loc['Taiwan'].iloc[0:,].dropna().values
likeip_cal=voter_df[voter_df['country']=='Taiwan'].iloc[:,1:len(vp_cal)+1].dropna(axis=0)
like_bar=likeip_cal.dot(vp_cal*0.01)
likeip_likeBar=(likeip_cal.T-like_bar).T
square=likeip_likeBar.apply(np.square).round(2)
sum_vp_dot_squre=square.dot(vp_cal*0.01)
spread=np.sqrt(np.array(sum_vp_dot_squre,dtype=np.float64))
likeip_cal['spread']=spread.round(2)
Contry_spread=pd.DataFrame(likeip_cal['spread'].describe().round(2)).rename(columns={"spread":'Taiwan'+' spread description'})

In [32]:
Contry_spread

       Taiwan spread description
count                     915.00
mean                        1.43
std                         1.03
min                         0.00
25%                         0.55
50%                         1.35
75%                         1.94
max                         4.82

In [33]:
def country_spread(df,country_name_str):
    
    
    ## Weight(vp) DataFrame
    weight_list=list(df.columns[list(df.columns.str.contains("voteshare"))])
    weight_list_countries=['country']+weight_list
    weight_df=df[weight_list_countries].groupby('country').mean(numeric_only=False)
    ## Voters(likeip) DataFrame
    voter_list=list(df.columns[list(df.columns.str.contains("party"))])
    voter_list_countries=['country']+voter_list
    voter_df=df[voter_list_countries]
    
    ## Calculate spread
    
    vp_cal=weight_df.loc[country_name_str].iloc[0:,].dropna().values
    likeip_cal=voter_df[voter_df['country']==country_name_str].iloc[:,1:len(vp_cal)+1].dropna(axis=0)
    like_bar=likeip_cal.dot(vp_cal*0.01)
    likeip_likeBar=(likeip_cal.T-like_bar).T
    square=likeip_likeBar.apply(np.square).round(2)
    sum_vp_dot_squre=square.dot(vp_cal*0.01)
    spread=np.sqrt(np.array(sum_vp_dot_squre,dtype=np.float64))
    likeip_cal['spread']=spread.round(2)
    Contry_spread=pd.DataFrame(likeip_cal['spread'].describe().round(2)).rename(columns={"spread":country_name_str+' spread description'})
    
    return Contry_spread,likeip_cal,vp_cal

In [34]:
Contry_spread,likeip_cal,vp_cal=country_spread(df,'Taiwan')

In [35]:
Contry_spread

       Taiwan spread description
count                     915.00
mean                        1.43
std                         1.03
min                         0.00
25%                         0.55
50%                         1.35
75%                         1.94
max                         4.82

In [37]:
likeip_cal

      party_a  party_b  party_c  spread
0         0.0      5.0     10.0    3.52
1         5.0      7.0      5.0    0.98
2         5.0      5.0      4.0    0.48
3         4.0      7.0      1.0    1.94
4         5.0      5.0      2.0    1.07
...       ...      ...      ...     ...
1193      3.0      4.0      4.0    0.53
1195      8.0      3.0      6.0    2.20
1197      5.0      2.0      1.0    1.64
1198      8.0      2.0      3.0    2.78
1199      4.0      0.0      2.0    1.74

[915 rows x 4 columns]

In [38]:
countries= list(df['country'].unique())
countries

['Taiwan', 'United States of America']